:root {
    --image-container-width: 33vw;
    --height: 100vh;
}

body {
    display: flex;
    background-color: black;
}

.image-container {
    position: relative;
    background-image: url("images/background.jpg");
    background-size: contain;

    color: rgba(255, 255, 255, 0.8);

    height: var(--height);
    width: var(--image-container-width);
}

.title-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20vh;
    height: 15vh;
    width: var(--image-container-width);

    font-size: clamp(1rem, calc(0.5rem + 1.5vw), 3rem);
}

.footer {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;

    bottom: 10px;
    left: calc(var(--image-container-width) / 5); 
    height: 5vh;
    width: 20vw;
}