:root {
    --image-container-width: 25vw;
    --height: 95vh;
    --light-color: 245, 247, 248;
    --font-size: 16px;
    --right-container-left-padding: 2vw;
    --right-container-top-padding: 3vh;
}

p {
    margin: 0;
    padding: 0;
}

body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.image-container {
    position: relative;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(var(--light-color), 0.8);

    height: var(--height);
    width: var(--image-container-width);
}

.title-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 16.7vh;
    height: 15vh;
    width: var(--image-container-width);

    font-size: clamp(1rem, calc(0.5rem + 1.5vw), 3rem);
}

.footer {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;

    bottom: 10px;
    left: 2vw; 
    height: 5vh;
    width: 20vw;
}

.right-container {
    width: calc(var(--image-container-width)*2);
    height: var(--height);
    font-weight: 600;

    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: rgb(var(--light-color));
    font-size: 1.5rem;
}

.right-header-div {
    background-color: rgb(var(--light-color));
    height: calc(var(--height)/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-wrapper {
    max-width: 65ch;
    padding: 3vh 0px 0px var(--right-container-left-padding);
}

.text-wrapper p:last-of-type {
    margin-top: var(--right-container-top-padding);
}

.sign-up {
    background-color: white;
    height: calc(var(--height)/3);
    box-shadow: 1px 1px 5px rgb(200, 200, 200);
}

.right-footer-div {
    background-color: rgb(var(--light-color));
    height: calc(var(--height)/3);
}