:root {
    --image-container-width: 25vw;
    --height: 95vh;
    --light-color: 225, 232, 227;
    --font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.image-container {
    position: relative;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(var(--light-color), 0.8);

    height: var(--height);
    width: var(--image-container-width);
}

.title-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20vh;
    height: 15vh;
    width: var(--image-container-width);

    font-size: clamp(1rem, calc(0.5rem + 1.5vw), 3rem);
}

.footer {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;

    bottom: 10px;
    left: 2vw; 
    height: 5vh;
    width: 20vw;
}

.right-container {
    width: calc(var(--image-container-width)*2);
    height: var(--height);

    display: flex;
    flex-direction: column;

    background-color: rgb(var(--light-color));
    font-size: 1.5rem;
}

.right-header-div {
    background-color: green;
    height: calc(var(--height)/3);
}

.sign-up {
    background-color: cyan;
    height: calc(var(--height)/3);
}

.right-footer-div {
    background-color: orange;
    height: calc(var(--height)/3);
}